*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
/* inicio */
header{
    background-color:rgba(215, 207, 207, .4);
    width: 100%;
    height: 200px;
}
.logo{
    background-color: rgb(184, 68, 199);
    width: 100%;
    height: 150px;
    padding-left: 350px;
}
nav ul a{
    text-decoration: none;
    font-size: 22px;
    border-left: solid 2px  #6e0559;
    padding-left: 50px;
    margin-top: 10px;
    color:white;
}
ul i{
    padding-right: 20px ;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*final de inicio*/


/* body de index*/
.banner{
    margin-top: 30px;
    background-image: url(img/imagen.pmg.jpg);
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#galeria{
    width: 1150px;
    height: 380px;
    background-color: rgba(128, 128, 128, .4);
    margin-left: 90px;
}

.imagen{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-bottom: 85px;
    float:left;
    top:50px;
    position:relative;
}

.imagen img{
    width: 250px;
    height: 250px;
}
.imagen p{
    position:absolute;
    color:rgb(247, 243, 243);
    font-family: 'Lucida Sans';
    text-align: center;
    top:150px;
    width:250px;
    font-size: 30px;
    padding: 20px;
    background-color:rgba(184, 68, 199, .5);
}
.btnvermas{
    width: 100px;
    height: 40px;
    margin-left: 540px;
    
}
.btnvermas a{
    color: white;
    background-color: #b844c7; 
    padding: 10px;
    text-decoration: none;
}
/*final de body de index*/


/*footer*/
footer{
    background-color: rgba(128, 128, 128, .5);
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.redes{
    width: 150px;
    height: 50px; 
}
.redes i{
    font-size: 25px;
    padding: 10px;
}
.logofooter img{
    height: 50px;
}
/*final de footer y index*/


/* pagina contacto */
.contacto{
    width: 900px;
    height: 700px;
    margin-left: 200px;
    margin-top: 40px;
    background-color: rgba(128, 128, 128, .4);
}
.contacredes{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*titulo*/
.contactitulo h1{
    padding: 20px;
    color: white;
    width: 390px;
    margin-left: 270px;
    background-color:rgba(184, 68, 199, .4);
}
/*icono contanto*/
.contacicono{
    height: 60px;
    width: 740px;
    display: flex;
    margin-top: 50px;
    background-color: rgb(184, 68, 199, .4);
}
.contacicono i{
    padding: 10px;
    font-size: 30px;
    color: white;
}
.icontext{
    display: flex;
}
.icontext p{
    padding: 9px;
    color: white;
    font-size: 20px;
}
/* formulario */
.contacform{
    height: 450px;
    width: 300px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 30px;
    background-color: rgb(184, 68, 199, .4);
}
.contacform label{
    color: white;
}
textarea, input{
    background-color: rgb(184, 68, 199);
}
button {
    background-color: #b844c7;
    width: 100px;
    height: 25px;
    color:white;
    margin-left: 65px;
    margin-top:10px;

}
/*final de pagina de contacto*/


/*inicio de pagina de staff*/
#nosotras{
    width: 900px;
    height: 600px;
    margin-left: 200px;
    margin-top: 50px;
    background-color: rgba(128, 128, 128, .4);
}
.info{
    width: 600px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.infonosotras h1{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
    background-color:rgba(184, 68, 199, .4);
    padding: 10px 5px;
}
.infonosotras{
    padding-top: 7px;
    font-size: 17px;
}
/*fotos y profesion*/
.perfiles{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.perfiles img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.textperfil{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background-color: rgba(184, 68, 199, .4);
    padding-top: 6px;
}
.perf h3{
    margin-top: 8px;
}
/*final de pagina de staff*/

/*Inicio de Login*/
.ingresar{
    background-color: rgba(128, 128, 128, .4);
    width: 650px;
    height: 310px;
    margin-left: 350px;
}
.ingresesion h1{
    background-color: rgb(184, 68, 199, .4);
    color:white;
    width: 250px;
    margin-top: 55px;
    margin-left:200px;
    text-align: center;
}
.ingresar form{
    width: 320px;
    height: 170px; 
    margin-top: 30px;
    margin-left: 165px;
    padding: 30px;
    background-color: rgb(184, 68, 199, .4);
    text-align: center;
}
.ingresar label{
    color: white;
}

.ingresarinput{
    background-color: rgb(184, 68, 199);
    margin-right:5px;
    display: flex;
    
}
.ingresarbutton{
    background-color: #b844c7;
    width: 100px;
    height: 25px;
    color:white;
    margin-left: 90px;
    margin-top:80px;

}
/*fin de login*/