*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
/* inicio */
header{
    background-color:rgba(215, 207, 207, .4);
    width: 100%;
    height: 200px;
}
.logo{
    background-color: #b844c7;
    width: 100%;
    height: 150px;
    padding-left: 350px;
}
nav ul a{
    text-decoration: none;
    font-size: 22px;
    border-left: solid 2px  #6e0559;
    padding-left: 50px;
    margin-top: 10px;
    color:white;
}
ul i{
    padding-right: 20px ;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* body */
.banner{
    margin-top: 30px;
    background-image: url(img/imagen.pmg.jpg);
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#galeria{
    width: 1150px;
    height: 380px;
    background-color: rgba(128, 128, 128, .4);
    margin-left: 90px;

}
.imagen{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-bottom: 85px;
    float:left;
    top:50px;
    position:relative;
}

.imagen img{
    width: 250px;
    height: 250px;
}
.imagen p{
    position:absolute;
    color:rgb(247, 243, 243);
    font-family: 'Lucida Sans';
    text-align: center;
    top:150px;
    width:250px;
    font-size: 30px;
    padding: 20px;
    background-color:rgba(184, 68, 199, .5);
}
.btnvermas{
    width: 100px;
    height: 40px;
    margin-left: 540px;
    
}
.btnvermas a{
    color: white;
    background-color: #b844c7; 
    padding: 10px;
    text-decoration: none;
}
/*footer*/
footer{
    background-color: rgba(128, 128, 128, .5);
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.redes{
    width: 150px;
    height: 50px; 
}
.redes i{
    font-size: 25px;
    padding: 10px;
}
.logofooter img{
    height: 50px;
}